body{
    background-color;
    font-family: sans-serif;
    background-color:black;
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
h3{
    margin:auto;
    text-align: center;
    
}
#para1{
    margin-right:8%;
    padding:3%;
    background-color: pink;
    height: 25%;
    margin-left: 18%;
    
    
}
#para2{
    margin-right:8%;
    padding:3%;
    background-color: cornflowerblue;
    height: 25%;
    margin-left: 18%;
    
}
#para3{
    margin-right:8%;
    
    padding:3%;
    height: 25%;
    background-color: rgb(179, 77, 179);
    margin-left: 18%;
}
#para4{
    margin-right:8%;
    padding:3%;
    background-color: deepskyblue;
    height: 25%;
    margin-left: 18%;
    margin-bottom: 100px;
    
}
ul{ 
    position: absolute;
    color: white;
    width: 20%;
    text-align: left;
    list-style: none;
    top: 0px;
    text-align: left;  
    padding:30px;
    padding-bottom: 100%;
    
}
ul li:hover{
    opacity:50%;
}
