body {
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: auto;
    text-align: center;
}

#para1, #para2, #para3, #para4 {
    position: absolute;
    width: 60%; /* Ancho relativo */
    left: 20%; /* Margen izquierdo relativo */
    padding: 3%;
}

#para1 {
    background-color: pink;
    top: 0;
    height: 25vh; /* 25% de la altura del viewport */
}

#para2 {
    background-color: cornflowerblue;
    top: 25vh; /* 25% de la altura del viewport */
    height: 25vh; /* 25% de la altura del viewport */
}

#para3 {
    background-color: rgb(179, 77, 179);
    top: 50vh; /* 50% de la altura del viewport */
    height: 25vh; /* 25% de la altura del viewport */
}

#para4 {
    background-color: deepskyblue;
    top: 75vh; /* 75% de la altura del viewport */
    height: 25vh; /* 25% de la altura del viewport */
    margin-bottom: 100px;
}

ul {
    position: absolute;
    color: white;
    width: 20%;
    text-align: left;
    list-style: none;
    top: 0;
    left: 0;
    padding: 30px;
    padding-bottom: 100%;
}

ul li:hover {
    opacity: 0.5;
}